# Node
NODE_ENV=production

# Back
PORT=3000
CORS_ORIGIN=
# Minimo 32 bytes. Genera con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
JWT_EXPIRES_IN=8h

# DB (conexion remota usada por cdc-back)
DB_HOST=
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
